In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# dir = 'C:/Users/john.conway'
dir = 'L:/SSFTAPNY-PM/Job Files'

In [3]:
files = os.listdir(dir)

In [4]:
sorted_files = [f for f in files if f.startswith('0')]
sorted_files = sorted(sorted_files)

In [5]:
for f in sorted_files:
    print(f)

042001 12TH FLOOR CORRIDORS @ 445 HAMILTON
042002 14TH FLOOR CORRIDORS @ 1 N. BROADWAY
042004 12TH FLOOR RESTROOMS @ 445 HAMILTON
042005 10TH FLOOR RESTROOMS @ 445 HAMILTON
042009_NATIONAL_HEALTH_REHAB
042019_HONEYWELL_NJ06
042023_SIEMANS_HEALTHCARE_MID_LAB_RENOVATIONS
042037_1LMS 4TH FL
042039_USI_INSURANCE_SERVICES
042046_AMERICAN_LIST_COUNCIL
042047_MERIDIAN_GLOBAL_VAT_SERVICES
042048_FONTANA_&_GIANNELLI
042050_10_BANK_ST_PLADIS
042053_COSMETIC_UPGRADES_5E
042054_TURBONOMICS
042066_ICE_DATA_SERVICES
042070_GOLDBERG_SEGALLA
042074_ESRT_10_BANK_ST_CORRIDORS
042075_1_LMS_9TH_FL_CORRIDOR
042077_PEPSICO_BLDG_1
042098_PEPSICO_R&D_MOBILE_OFFICE
042110_CAREMOUNT_OPHTHALMOLOGY
042114_RYE_YMCA_LOCKER_ROOMS
042126_ONCOLOGY_EXAM_ROOM_RENOVATIONS
042127_EVEREST_GLOBAL_SERVICES
042131_ZARIN_&_STEINMETZ
042132_PRIMEVIEW_ASSOCIATES
042134_METCAR
042135_SIEMENS_LOWER_LEVEL_CORRIDORS
042136_MAMMO_SUITE_WESTMED
042150_800_WESTCHESTER_RPW
042151_HARRIS_BEACH_PLLC
042152_WALMART
042153_55_S_BROADWAY_CONFERENCE_ROOM
042154_CITI_ARMONK_PHASE1
042156_JLL_RBS_7FL_RESTACK
042160_METRO_CENTER
042163_MARYKNOLL_FATHERS_AND_BROTHERS
042190_GREENBURGH_TRAURIG
042193_MATRIX
042196_1_LMS_LINNAR_MULTI_FAMIL
042203_PROMPTCARE
042205_T&M_440_RPW
042212_PALISADES_FOOD_COURT
042215_44_SOUTH_LOWER_LEVEL
042231_TRANS_OCEAN_IMPORTS
042236_APINSG_WALMART_MONROE
042238_140_GRAND_SUITE_900
042239_140_GRAND_YANKWITT_LLP
042242_44_SOUTH_BROADWAY_6TH_FL_PREBUILT
042246_T&M_440_RPW_EWOR_02
042253_T&M_800_WESTCHESTER_AMERIPRISE
042254_140_GRAND_7TH_FL_RESTROOMS
042255_140_GRAND_BELOWICH
042256_140_GRAND_CRB_9TH_FL_DEMO
042259_222_BLOOMINGDALE_RESTROOMS
042264_222_BLOOMINGDALE_HALLWAY
042265_222_BLOOMINGDALE_MONTE_NIRO
042267_OMNICOM_WILTON
042269_OMNICOM_STAMFORD
042271_1_LMS_14TH_FL_PREBUILT
042272_KB_BEVERAGE
042282_T&M_HOULIHAN
042284_ENTERGY_NUCLEAR_OPERATIONS
042286_PALISADES_MALL_ESCALATORS
042290_IVY_REHAB_1ST_FL
042292_JSK_ART_STUDIO
042296_4_LMS_SILGAN
042313_T&M_800_WESTCHESTER
042315_BOK_EXPANSION
042316_1_LMS_9TH_FL_PREBUILT
042317_1_N_BROADWAY_MAIN_LOBBY
042318_HISCOX
042319_EMERALD_EXPOSITIONS
042329_REGENERON_SHO_PHASE2
042335_US_TRUST
042336_IMG
042339_WMC_RADIOGRAPHIC_FLUORO_ROOM
042340_WESTMED_LAB_2700
042356_NYACK_HOSP_HYPERBARIC
042368_SVC_10_MIDLAND_ALARM&HYDRO
042370_SWISS_RE_CONFERENCE_ROOM
042371_T&M_1_LMS_6FL_PREBUILT
042377_6_INTERNATIONAL_DRIVE_COMMERZBANK
042379_ORACLE_DEMISING_PARTITION
042381_T&M_140_GRAND_SUITE_900_LEAK
042387_RCC_CLUBHOUSE
042388_CHAZEN_COMPANIES
042391_PENACHIO_MALARA_LLP
042394_255_HUGUENOT_LAROCHELLE_DEMO
042395_GELFAND_360_HAMILTON
042396_55_RYDER_RD_MARYKNOLL_FATHERS
042397_WESTCHESTER_MALL_FOOD_HALL
042398_222_BLOOMINGDALE_CELESTIAL_AND_SIRIUS
042399_10_MIDLAND_AVE_OPTIMUS
042400_T&M_800_WESTCHESTER_HAIR_CLUB_FOR_MEN
042401_10_BANK_1FL_CAFE
042415_MILLER_ZEIDERMAN
042416_800_RPW_OFFICE
042443_MASTERCARD_2W
042444_CARERITE
042448_1_LMS_GARAGE_REPAIRS
042449_ITOCHU_CHEMICALS
042461_COGNETIC_CAPITAL
042485_PEPSICO_PILOT_PLANT
042490_440_LOADING_DOCK
042492_210_WESTCHESTER_NUCLEAR_MEDICINE
042497_RPW_DR_SILVERMAN
042498_SKADDEN_ARPS_SLATE
042520_NEXTGEN
042525_PHENIX
042529_A_MATTER_OF_HEALTH
042570_PLEASANT_GROOMING
042582_BEL_AQUA
042591_1055_WASHINGTON_4TH_FL_PREBUILT
042592_BARI_JAY
042593_EMERALD_STORAGE_ROOM
042598_BREWSTER_TOWN_CENTRE
042604_15_NORTH_BROADWAY_NYP_LAWRENCE_HOSPITAL
042609_140_GRAND_ST_LUMAN_TUCKER
042610_1000_PALISADES_CENTER_DR_CHAMPS_SPORTING_GOODS
042626_1025_WESTCHESTER_AVENUE_SECURITAS
042627_123_MAIN_ST_NYPA_11TH_FL
042631_500_MAMARONECK_COKINETICS
042634_1_NORTH_BROADWAY_BROWN_GRUTTADARO
042648_100_SUMMIT_LAKE_DR_CON_ED
042653_100_SUMMIT_LAKE_DR_CORRIDORS
042659_5_SKYLINE_DRIVE_CONRI
042660_5_WESTCHESTER_PLAZA_WILLEMIN_MACODEL
042662_49_E_POST_ROAD_WPH_4E
042663_150_GRAND_ST_LOBBY_ALTERATIONS
042682_2975_WESTCHESTER_AVE_FAMILY_SERVICES
042688_6_INTERNATIONAL_DRIVE_COMMERZBANK_EWOR_01
042690_300_FIRST_STAMFORD_PLACE_MJLF_DEMO
042691_100_FIRST_STAMFORD_PLACE_RW_BAIRD
042712_1000_PALISADES_CENTER_DR_H&M_US004
042714_711_WESTCHESTER_AVE_HOMEBRIDGE
042718_2975_WESTCHESTER_AVE_MAYPRO_1ST_FL
042719_2975_WESTCHESTER_AVE_OLAM_AMERICA
042724_800_WESTCHESTER_AVENUE_MITSUI_CHEMICALS
042726_T&M_1_LMS_8TH_FL_PREBUILT
042727_CANCELED_109_ROUTE_59_ADVANCED_AUTO_PARTS
042730_120_WHITE_PLAINS_RD_RESIDENTIAL_MORTGAGE
042755_100_CORPORATE_BLVD_MONTEFIORE_SKAE
042764_800_WESTCHESTER_AVE_AMORUSO
042769_1_N_LEXINGTON_FORTISTAR
042782_644_PUTNAM_AVENUE_WESTMED_GREENWICH
042783_1_STATION_PLACE_THOMSON_REUTERS_FM200_REMOVAL
042784_CANCELED_40_SUNSHINE_COTTAGE_RD_NY_MED_COLLEGE_PAVARINI
042787_1_STATION_PLACE_4TH_FLOOR_DEMO
042788_1_STATION_PLACE_5TH_FLOOR_DEMO
042794_2975_WESTCHESTER_AVE_MAYPRO_GROUND_FLOOR
042807_1_THEALL_RD_ASC_OR_EXPANSION
042809_450_MAMARONECK_SOMNIA
042811_440_SAW_MILL_RIVER_RD_ACORDA
042844_451_MAIN_ST_MAIN_LE_COUNT
042845_2_HARBOR_POINT_PATISSERIE_SALZBURG
042854_37_RT_303_DIVISION_SPACE
042858_33_SO_BROADWAY_BURNAGENICS
042859_4767_BOSTON_POST_RD_BANK_OF_AMERICA
042862_350_COLUMBUS_PEPSICO_UPRIGHTS
042869_187_DANBURY_ROAD_PENN_MUTUAL
042884_600_WASHINGTON_BLVD_RBS_7FL_RESTROOM
042885_10_MIDLAND_AVENUE_SAILMAKERS
042913_1_LMS_LOBBY_ALTERATIONS_COORIDOR_RESTROOMS
042926_360_HAMILTON_AVENUE_ARCH_INSURANCE
042927_445_HAMILTON_AVENUE_AG_POLYMERS
042929_55_PALMER_NYP_LAWRENCE_IT_CLOSETS
042954_5_ODELL_PLAZA_SCHINDLER
042960_77_QUAKER_RIDGE_RD_TAYLOR_VIAZZO
042989_210_WESTCHESTER_WESTMED_CYTOLOGY
043002_10_BANK_ST_4TH_FL_RESTROOMS_AND_CORR
043003_10_BANK_ST_6TH_FL_RESTROOMS_AND_CORR
043004_10_BANK_ST_8TH_FL_RESTROOMS_AND_CORR
043005_10_BANK_ST_11TH_FL_RESTROOMS_AND_CORR
043020_429_WASHINGTON_BOULEVARD_ESRT_4TH_FL_RESTROOMS_AND_CORR
043021_429_WASHINGTON_BOULEVARD_ESRT_5TH_FL_RESTROOMS_AND_CORR
043033_1133_WESTCHESTER_AUTONATION
043038__1133_WESTCHESTER_BROWN_AND_BROWN
043039_185_OLD_BROADWAY_ANDRUS
090339_SKAE_15_CORPORATE_VESDA
090374_151_FULTON_ST_ALTICE

In [6]:
new_list = []

In [7]:
for f in sorted_files:
    new_list.append(["'"+f[:6], f[7:]])

In [8]:
df = pd.DataFrame(new_list, columns=['Number', 'Name'], dtype='str')

In [9]:
df.head()

    Number                                  Name
0  '042001   12TH FLOOR CORRIDORS @ 445 HAMILTON
1  '042002  14TH FLOOR CORRIDORS @ 1 N. BROADWAY
2  '042004   12TH FLOOR RESTROOMS @ 445 HAMILTON
3  '042005   10TH FLOOR RESTROOMS @ 445 HAMILTON
4  '042009                 NATIONAL_HEALTH_REHAB

In [10]:
df.describe()

         Number                                 Name
count       182                                  182
unique      182                                  182
top     '042236  12TH FLOOR RESTROOMS @ 445 HAMILTON
freq          1                                    1

```python
df.to_excel(dir+'/TABLE.xlsx')
```

In [11]:
df.to_csv('TABLE.csv', index=False)
df.to_csv(dir+'/TABLE.csv', index=False)